
main > header {
  text-align: center;
  padding: 1%;
  margin-bottom: 0px;
}

.main-nav ul {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
