
main > header {
  text-align: center;
  padding: 1%;
  margin-bottom: 0%;
}
.main-nav {
        /*these are mixed because I want the left padding to be responsive, but the top padding should always be based on the height of the icon, which is static */
  margin-bottom: 36px;
}
.main-nav ul {
  display: none;
  list-style-type: none;
  padding-left: 3%;
}

.main-nav:hover ul {
  display: block;
  margin-top: 0%;
  margin-bottom: 0%
}

.main-nav li {
  padding-top: 1%;
  padding-bottom: 1%;
}

main > section{
  padding-left: 3%;
}

@media  only screen and (min-width: 600px) {

  .main-nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    display: block;
    list-style-type: none;
  }

  .main-nav:hover ul {
    margin-top: 0%;
  }

  .main-nav li {
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
  }

  main > section {
    margin-right: 3%
  }
}
