main > header {
  background-color: #6B88AC;
}

.main-nav {
    background-color: #64AB99;
}
.icon-menu {
  font-size: 200%;
  position: absolute;
  right: 1%;
}

#projects article {
  padding: 1%;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  margin-bottom: 1%;
}

@media only screen and (min-width: 600px) {

  body {
    font-size: 100%;
  }
  .icon-menu {
    display: none;
  }

}
